/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
}


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}


/* Sidebar navigation */

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item+.nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.communication-panel {
  height: 90vh;
}

#chat-list .nav-item {
  border: 2px solid #f1f1f1;
}


/*
chat window style
*/

.chat-block,
.chat-window {
  height: 100%;
}

.chat-panel {
  height: 50%;
  width: 100%;
}

#chat-title {
  padding: 10px;
  background: #f1f1f1;
  margin: 0px;
  height: 10%;
}

#chat-history {
  height: 50%;
  border: 3px solid #f1f1f1;
  overflow-y: scroll;
}

#interval-block {
  background-color: #f1f1f1;
  height: 5%;
}

#chat-input {
  height: 35%;
  border: 3px solid #f1f1f1;
}

#input-message {
  height: 65%;
  width: 100%;
  border: 0px;
}

#medical-record th,
#treatment-schedule th {
  background-color: #f1f1f1;
}

.modal-body .input-group {
  margin-bottom: 10px;
}

#treatment-schedule th.option-col {
  width: 15%;
}

td.option-col-td>button {
  margin-right: 15px;
}

#treatment-schedule th.info-col {
  width: 40%;
}


/*this line divide the page into two part*/

div.segment-line {
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}

div.record-content {
  border: 3px solid #ccc;
  padding: 20px 5px 10px 5px;
  margin: 10px 5px;
}


/* table.patient-info-table td div{
  height: 100%;
  width: 100%;
  border: 1px solid #ccc;
  margin: 1px;
} */

/* table.treatment-schedule-table td[contenteditable="true"] {
  width: 50%;
} */

table {
  table-layout: fixed;
}

button.check-item-choose,
button.debridement-toggle,
button.clinical-measure-show {
  width: 100%;
}

hr {
  border: 1px solid #ccc;
}